// SPDX-License-Identifier: GPL-2.0-only OR BSD-2-Clause
/*
 * Cubs Device Tree (Pixel 11 family)
 *
 * Copyright 2025 Google LLC
 */

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>

#include "mbu-pixel-common.dtsi"

/ {
	model = "Cubs";
	compatible = "google,mbu-cubs", "google,mbu";
};

&aoss_spi3 {
	status = "okay";

	touchscreen@0 {
		compatible = "syna,tcm";
		reg = <0>;
		spi-max-frequency = <19200000>;
		spi-cs-setup-delay-ns = <10000>;
		rx-sample-delay-ns = <25>;
		interrupt-parent = <&aoss_pinctrl>;
		interrupts = <54 IRQ_TYPE_LEVEL_LOW>;
		reset-gpios = <&pmic_gpio 17 GPIO_ACTIVE_LOW>;
		vdd-supply = <&ldo_27s>;
		avdd-supply = <&ldo_26s>;
		pinctrl-0 = <&ts0_int>;
		pinctrl-names = "default";
	};
};

&dpu {
	status = "okay";
};

&dsi0 {
	status = "okay";

	panel@0 {
		compatible = "google,dcsda";
		reg = <0>;
		reset-gpios = <&pmic_gpio 11 GPIO_ACTIVE_LOW>;
		vddi-supply = <&buck_12s>;
		vci-supply = <&ldo_18s>;
		vddd-supply = <&vddd_disp>;

		port {
			panel_in: endpoint {
				remote-endpoint = <&dsi0_out>;
			};
		};
	};
};

&dsi0_out_port {
	dsi0_out: endpoint {
		remote-endpoint = <&panel_in>;
	};
};

&lsioe_i2c4 {
	clock-frequency = <400000>;

	status = "okay";

	/* Display panel core supply */
	vddd_disp: regulator@40 {
		compatible = "ti,tps628600";
		reg = <0x40>;
		enable-gpios = <&pmic_gpio 13 GPIO_ACTIVE_HIGH>;
		regulator-name = "vddd_disp";
		regulator-min-microvolt = <1000000>;
		regulator-max-microvolt = <1000000>;
	};
};
