# SPDX-License-Identifier: GPL-2.0

config VIDEO_WAVE6_VPU
	tristate "Chips&Media Wave6 Codec Driver"
	depends on V4L_MEM2MEM_DRIVERS
	depends on VIDEO_DEV && OF
	depends on ARCH_MXC || COMPILE_TEST
	select VIDEOBUF2_DMA_CONTIG
	select V4L2_MEM2MEM_DEV
	select GENERIC_ALLOCATOR
	help
	  Chips&Media Wave6 stateful codec driver.
	  The wave6 driver manages shared resources such as firmware memory.
	  The wave6-core driver provides encoding and decoding capabilities
	  for H.264, HEVC, and other video formats.
	  To compile this driver as modules, choose M here: the
	  modules will be called wave6 and wave6-core.
